.root {
    -fx-font-family: "Segoe UI Bold", Arial, sans-serif;
    -fx-background-color: #141832;
}

/* HEADER */
.header {
    -fx-background-color: linear-gradient(#0062cc, #004a99);
    -fx-padding: 20 0;
}
.title {
    -fx-text-fill: white;
    -fx-font-size: 28px;
    -fx-font-weight: bold;
}
.subtitle {
    -fx-text-fill: #d8e8ff;
    -fx-font-size: 16px;
}

/* BOTONES */
.btn-green {
    -fx-background-color: linear-gradient(#00a82d, #007f20);
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-background-radius: 12;
}
.btn-green:hover {
    -fx-background-color: linear-gradient(#00c437, #00992a);
}

.btn-yellow {
    -fx-background-color: linear-gradient(#ffab0f, #d98900);
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-background-radius: 12;
}

.btn-red {
    -fx-background-color: linear-gradient(#cc0000, #990000);
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-background-radius: 12;
}

.btn-gray {
    -fx-background-color: linear-gradient(#777, #555);
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-background-radius: 12;
}

.footer {
    -fx-text-fill: #dce8ff;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}
